body{
    margin: 0;
    
}
.container{
    margin: 0;
    width: 100%;
    height: 500px;

}

.top{
    margin: auto;
    width: 80%;
    height: 30%;
    /* background-color: black; */
    text-align: center;
    font-size: 20px;
    color: green;
}

.form_section{

    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color: blue; */
}

.message{
  width: 60%;  
  height: 100%;
  /* background-color:greenyellow;  */
  float: left;
}

.contact_info{
width: 40%;
height:100% ;
background-color: green;
float: left;
}
.message h4{
    color: green;
}

.message input{
 width: 70%;
 padding: 10px 50px;
 border: none;
 outline: none;
 border-bottom: 1px solid rgb(172, 126, 126);
}
.input:focus{
    border-bottom: 1px solid red;
}

.message textarea{
    width: 70%;
    height: 30%;
    padding: 10px 50px;  
    border: none;
 outline: none;
 border-bottom: 1px solid rgb(172, 126, 126);
}

.textarea:focus{
    border-bottom: 1px solid red;
}
.message button{
    width: 83%;
    height: 10%;
    margin-top: 2%;
    background-color: green;
    border: none;
    outline: none;
    color: white;
}

.contact_info h4{
    color: white;
    text-align: center;
}

.contact_info p{
    color: #A7F60F;
    text-align: center;
}
.contact_info img{
   margin-left: 17%;
   margin-top: 6%; 
}